{% extends 'main_app/base.html' %}

{% block title %}ITEM{% endblock %}

{% block content %}


    <div id="fh5co-product">
        <div class="container animate-box container_input-form">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Добавьте свое объявление</h2>
                </div>
            </div>
            <div class="row user-info-inner text-left reg_form_cont">
                <form method="post" enctype="multipart/form-data" id="add_item_form">
                    {% csrf_token %}
                    <fieldset>
                    <div class="row">
                        <div class="form-group reg-form-group row ">
                            <label for="form.name" class="col-sm-3">Название:</label>
                            <input class="col-sm-9 add_item" id="form.name" name="name" placeholder="Название объявления">
                        </div>
                          <div class="form-group reg-form-group row ">
                            <label for="form.price" class="col-sm-3">Цена:</label>
                            <input class="col-sm-9 add_item" id="form.price" name="price" placeholder="Стоимость в рублях">
                        </div>
                        <div class="form-group reg-form-group row "  id="top" style="position: relative">
                            <label for="form.address" class="col-sm-3">Адрес:</label>
                            <input class="col-sm-9 add_item" id="text" name="address" autocomplete="off" placeholder="Начните вводить название станции метро, а потом выберите из списка">
                            <ul id="result"></ul>
                        </div>
{#                        <div class="form-group reg-form-group row ">#}
{#                            <label for="form" class="col-sm-3">Категория:</label>#}
{#                            {{ form.category }}#}
{#                        </div>#}
                        <div class="form-group reg-form-group row  ">
                            <label for="form.category" class="col-sm-3">Категория:</label>
                            <select id="form.category" name="category">
                                {% for cat3 in cat_3 %}
                                    <option value="{{ cat3.id }}">{{ cat3.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group reg-form-group row ">
                            <label for="form.description" class="col-sm-3">Описание:</label>
                            <textarea rows="6" class="col-sm-9" id="form.description" name="text"></textarea>
                        </div>
{#                        <div class="form-group reg-form-group row ">#}
{#                            <label for="form.status" class="col-sm-3">Категория:</label>#}
{#                            <select id="form.status" name="status" class="col-sm-9">#}
{#                                <option value="yes">Доступен</option>#}
{#                                <option value="no">Не доступен</option>#}
{#                            </select>#}
{#                        </div>#}
                        <div class="form-group reg-form-group row">
                            <label for="image" class="col-md-3">Загрузить</label>
                            <input type="file" multiple name="image" id="image" class="input-file">
                        </div>
                        <div class="container">
                            <div class="row fh5co-heading">
                                <input class="button btn_add_item_save" type="submit" value="Сохранить">
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    <script>
        var list = ["Авиамоторная, Калининская линия",
"Авиамоторная, Некрасовская линия",
"Автозаводская, Замоскворецкая линия",
"Автозаводская, МЦК",
"Академическая, Калужско-Рижская линия",
"Александровский сад, Филёвская линия",
"Алексеевская, Калужско-Рижская линия",
"Алма-Атинская, Замоскворецкая линия",
"Алтуфьево, Серпуховско-Тимирязевская линия",
"Аминьевская, Большая кольцевая линия",
"Андроновка, МЦК",
"Аникеевка, МЦД-2",
"Аннино, Серпуховско-Тимирязевская линия",
"Арбатская, Арбатско-Покровская линия",
"Арбатская, Филёвская линия",
"Аэропорт, Замоскворецкая линия",
"Бабушкинская, Калужско-Рижская линия",
"Багратионовская, Филёвская линия",
"Баковка, МЦД-1",
"Балтийская, МЦК",
"Баррикадная, Таганско-Краснопресненская линия",
"Бауманская, Арбатско-Покровская линия",
"Беговая, Таганско-Краснопресненская линия",
"Беговая, МЦД-1",
"Белокаменная, МЦК",
"Беломорская, Замоскворецкая линия",
"Белорусская, Кольцевая линия",
"Белорусская, МЦД-1",
"Белорусская, Замоскворецкая линия",
"Беляево, Калужско-Рижская линия",
"Бескудниково, МЦД-1",
"Бибирево, Серпуховско-Тимирязевская линия",
"Библиотека им. Ленина, Сокольническая линия",
"Битца, МЦД-2",
"Битцевский парк, Бутовская линия",
"Борисово, Люблинско-Дмитровская линия",
"Боровицкая, Серпуховско-Тимирязевская линия",
"Боровское шоссе, Солнцевская линия",
"Ботанический сад, Калужско-Рижская линия",
"Ботанический сад, МЦК",
"Братиславская, Люблинско-Дмитровская линия",
"Бульвар Адмирала Ушакова, Бутовская линия",
"Бульвар Дмитрия Донского, Серпуховско-Тимирязевская линия",
"Бульвар Рокоссовского, Сокольническая линия",
"Бульвар Рокоссовского, МЦК",
"Бунинская Аллея, Бутовская линия",
"Бутово, МЦД-2",
"Бутырская, Люблинско-Дмитровская линия",
"ВДНХ, Калужско-Рижская линия",
"Варшавская, Большая кольцевая линия",
"Верхние Котлы, МЦК",
"Верхние Лихоборы, Люблинско-Дмитровская линия",
"Владыкино, Серпуховско-Тимирязевская линия",
"Владыкино, МЦК",
"Водники, МЦД-1",
"Водный стадион, Замоскворецкая линия",
"Войковская, Замоскворецкая линия",
"Волгоградский проспект, Таганско-Краснопресненская линия",
"Волжская, Люблинско-Дмитровская линия",
"Волоколамская, Арбатско-Покровская линия",
"Волоколамская, МЦД-2",
"Воробьёвы горы, Сокольническая линия",
"Воронцовская, Большая кольцевая линия",
"Выставочная, Филёвская линия",
"Выхино, Таганско-Краснопресненская линия",
"Говорово, Солнцевская линия",
"Гражданская, МЦД-2",
"Давыдково, Большая кольцевая линия",
"Дегунино, МЦД-1",
"Деловой центр, Большая кольцевая линия",
"Деловой центр, МЦК",
"Деловой центр, Солнцевская линия",
"Депо, МЦД-2",
"Динамо, Замоскворецкая линия",
"Дмитровская, Серпуховско-Тимирязевская линия",
"Дмитровская, МЦД-2",
"Добрынинская, Кольцевая линия",
"Долгопрудная, МЦД-1",
"Домодедовская, Замоскворецкая линия",
"Достоевская, Люблинско-Дмитровская линия",
"Дубровка, Люблинско-Дмитровская линия",
"Дубровка, МЦК",
"Жулебино, Таганско-Краснопресненская линия",
"ЗИЛ, МЦК",
"Зорге, МЦК",
"Зюзино, Большая кольцевая линия",
"Зябликово, Люблинско-Дмитровская линия",
"Измайлово, МЦК",
"Измайловская, Арбатско-Покровская линия",
"Каланчёвская, МЦД-2",
"Калитники, МЦД-2",
"Калужская, Калужско-Рижская линия",
"Кантемировская, Замоскворецкая линия",
"Каховская, Большая кольцевая линия",
"Каширская, Замоскворецкая линия",
"Каширская, Большая кольцевая линия",
"Киевская, Арбатско-Покровская линия",
"Киевская, Филёвская линия",
"Киевская, Кольцевая линия",
"Китай-город, Калужско-Рижская линия",
"Китай-город, Таганско-Краснопресненская линия",
"Кожуховская, Люблинско-Дмитровская линия",
"Коломенская, Замоскворецкая линия",
"Коммунарка, Сокольническая линия",
"Комсомольская, Сокольническая линия",
"Комсомольская, Кольцевая линия",
"Коньково, Калужско-Рижская линия",
"Коптево, МЦК",
"Косино, Некрасовская линия",
"Котельники, Таганско-Краснопресненская линия",
"Красногвардейская, Замоскворецкая линия",
"Красногорская, МЦД-2",
"Краснопресненская, Кольцевая линия",
"Красносельская, Сокольническая линия",
"Красные Ворота, Сокольническая линия",
"Красный Балтиец, МЦД-2",
"Красный Строитель, МЦД-2",
"Крестьянская застава, Люблинско-Дмитровская линия",
"Кропоткинская, Сокольническая линия",
"Крылатское, Арбатско-Покровская линия",
"Крымская, МЦК",
"Кузнецкий мост, Таганско-Краснопресненская линия",
"Кузьминки, Таганско-Краснопресненская линия",
"Кунцевская, Арбатско-Покровская линия",
"Кунцевская, Филёвская линия",
"Кунцевская, МЦД-1",
"Кунцевская, Большая кольцевая линия",
"Курская, Арбатско-Покровская линия",
"Курская, Кольцевая линия",
"Курская, МЦД-2",
"Курьяново, МЦД-2",
"Кутузовская, Филёвская линия",
"Кутузовская, МЦК",
"Ленинский проспект, Калужско-Рижская линия",
"Лермонтовский проспект, Таганско-Краснопресненская линия",
"Лесопарковая, Бутовская линия",
"Лефортово, Некрасовская линия",
"Лианозово, МЦД-1",
"Лихоборы, МЦК",
"Лобня, МЦД-1",
"Локомотив, МЦК",
"Ломоносовский проспект, Солнцевская линия",
"Лубянка, Сокольническая линия",
"Лужники, МЦК",
"Лухмановская, Некрасовская линия",
"Люблино, Люблинско-Дмитровская линия",
"Люблино, МЦД-2",
"Марк, МЦД-1",
"Марксистская, Калининская линия",
"Марьина Роща, Люблинско-Дмитровская линия",
"Марьино, Люблинско-Дмитровская линия",
"Маяковская, Замоскворецкая линия",
"Медведково, Калужско-Рижская линия",
"Международная, Филёвская линия",
"Менделеевская, Серпуховско-Тимирязевская линия",
"Минская, Солнцевская линия",
"Митино, Арбатско-Покровская линия",
"Мичуринский проспект, Солнцевская линия",
"Мичуринский проспект, Большая кольцевая линия",
"Мнёвники, Большая кольцевая линия",
"Молодёжная, Арбатско-Покровская линия",
"Москва-Товарная, МЦД-2",
"Москворечье, МЦД-2",
"Мякинино, Арбатско-Покровская линия",
"Нагатинская, Серпуховско-Тимирязевская линия",
"Нагорная, Серпуховско-Тимирязевская линия",
"Народное Ополчение, Большая кольцевая линия",
"Нахабино, МЦД-2",
"Нахимовский проспект, Серпуховско-Тимирязевская линия",
"Некрасовка, Некрасовская линия",
"Немчиновка, МЦД-1",
"Нижегородская, МЦК",
"Нижегородская, Некрасовская линия",
"Новаторская, Большая кольцевая линия",
"Новогиреево, Калининская линия",
"Новодачная, МЦД-1",
"Новокосино, Калининская линия",
"Новокузнецкая, Замоскворецкая линия",
"Новопеределкино, Солнцевская линия",
"Новослободская, Кольцевая линия",
"Новохохловская, МЦД-2",
"Новохохловская, МЦК",
"Новоясеневская, Калужско-Рижская линия",
"Новые Черёмушки, Калужско-Рижская линия",
"Одинцово, МЦД-1",
"Озёрная, Солнцевская линия",
"Окружная, Люблинско-Дмитровская линия",
"Окружная, МЦД-1",
"Окружная, МЦК",
"Окская, Некрасовская линия",
"Октябрьская, Кольцевая линия",
"Октябрьская, Калужско-Рижская линия",
"Октябрьское поле, Таганско-Краснопресненская линия",
"Ольховая, Сокольническая линия",
"Опалиха, МЦД-2",
"Орехово, Замоскворецкая линия",
"Остафьево, МЦД-2",
"Отрадное, Серпуховско-Тимирязевская линия",
"Охотный Ряд, Сокольническая линия",
"Павелецкая, Замоскворецкая линия",
"Павелецкая, Кольцевая линия",
"Павшино, МЦД-2",
"Панфиловская, МЦК",
"Парк Победы, Солнцевская линия",
"Парк Победы, Арбатско-Покровская линия",
"Парк культуры, Сокольническая линия",
"Парк культуры, Кольцевая линия",
"Партизанская, Арбатско-Покровская линия",
"Пенягино, МЦД-2",
"Первомайская, Арбатско-Покровская линия",
"Перерва, МЦД-2",
"Перово, Калининская линия",
"Петровский парк, Большая кольцевая линия",
"Петровско-Разумовская, Серпуховско-Тимирязевская линия",
"Петровско-Разумовская, Люблинско-Дмитровская линия",
"Печатники, Люблинско-Дмитровская линия",
"Пионерская, Филёвская линия",
"Планерная, Таганско-Краснопресненская линия",
"Площадь Гагарина, МЦК",
"Площадь Ильича, Калининская линия",
"Площадь Революции , Арбатско-Покровская линия",
"Подольск, МЦД-2",
"Покровское, МЦД-2",
"Полежаевская, Таганско-Краснопресненская линия",
"Полянка, Серпуховско-Тимирязевская линия",
"Пражская, Серпуховско-Тимирязевская линия",
"Преображенская площадь, Сокольническая линия",
"Прокшино , Сокольническая линия",
"Пролетарская, Таганско-Краснопресненская линия",
"Проспект Вернадского, Сокольническая линия",
"Проспект Вернадского, Большая кольцевая линия",
"Проспект Мира, Калужско-Рижская линия",
"Проспект Мира, Кольцевая линия",
"Профсоюзная, Калужско-Рижская линия",
"Пушкинская, Таганско-Краснопресненская линия",
"Пятницкое шоссе, Арбатско-Покровская линия",
"Рабочий посёлок, МЦД-1",
"Раменки, Солнцевская линия",
"Рассказовка, Солнцевская линия",
"Речной вокзал, Замоскворецкая линия",
"Рижская, Калужско-Рижская линия",
"Рижская, МЦД-2",
"Римская, Люблинско-Дмитровская линия",
"Ростокино, МЦК",
"Румянцево, Сокольническая линия",
"Рязанский проспект , Таганско-Краснопресненская линия",
"Савёловская, Серпуховско-Тимирязевская линия",
"Савёловская, МЦД-1",
"Савёловская, Большая кольцевая линия",
"Саларьево, Сокольническая линия",
"Свиблово, Калужско-Рижская линия",
"Севастопольская, Серпуховско-Тимирязевская линия",
"Селигерская, Люблинско-Дмитровская линия",
"Семёновская, Арбатско-Покровская линия",
"Серпуховская, Серпуховско-Тимирязевская линия",
"Сетунь, МЦД-1",
"Силикатная, МЦД-2",
"Сколково, МЦД-1",
"Славянский бульвар, Арбатско-Покровская линия",
"Славянский бульвар, МЦД-1",
"Смоленская, Арбатско-Покровская линия",
"Смоленская, Филёвская линия",
"Сокол, Замоскворецкая линия",
"Соколиная гора, МЦК",
"Сокольники, Сокольническая линия",
"Солнцево, Солнцевская линия",
"Спартак, Таганско-Краснопресненская линия",
"Спортивная, Сокольническая линия",
"Сретенский бульвар, Люблинско-Дмитровская линия",
"Стахановская, Некрасовская линия",
"Стрешнево, МЦД-2",
"Стрешнево, МЦК",
"Строгино, Арбатско-Покровская линия",
"Студенческая, Филёвская линия",
"Сухаревская, Калужско-Рижская линия",
"Сходненская, Таганско-Краснопресненская линия",
"Таганская, Кольцевая линия",
"Таганская, Таганско-Краснопресненская линия",
"Тверская, Замоскворецкая линия",
"Театральная, Замоскворецкая линия",
"Текстильщики, Таганско-Краснопресненская линия",
"Текстильщики, МЦД-2",
"Терехово, Большая кольцевая линия",
"Тестовская, МЦД-1",
"Технопарк, Замоскворецкая линия",
"Тимирязевская, Серпуховско-Тимирязевская линия",
"Тимирязевская, МЦД-1",
"Третьяковская, Калужско-Рижская линия",
"Третьяковская, Калининская линия",
"Трикотажная, МЦД-2",
"Тропарёво, Сокольническая линия",
"Трубная, Люблинско-Дмитровская линия",
"Тульская, Серпуховско-Тимирязевская линия",
"Тургеневская, Калужско-Рижская линия",
"Тушинская, Таганско-Краснопресненская линия",
"Тушинская, МЦД-2",
"Тёплый Стан, Калужско-Рижская линия",
"Угрешская, МЦК",
"Улица 1905 года, Таганско-Краснопресненская линия",
"Улица Академика Янгеля, Серпуховско-Тимирязевская линия",
"Улица Горчакова, Бутовская линия",
"Улица Дмитриевского, Некрасовская линия",
"Улица Скобелевская, Бутовская линия",
"Улица Старокачаловская, Бутовская линия",
"Университет, Сокольническая линия",
"Филатов Луг, Сокольническая линия",
"Фили, Филёвская линия",
"Фили, МЦД-1",
"Филёвский парк, Филёвская линия",
"Фонвизинская, Люблинско-Дмитровская линия",
"Фрунзенская, Сокольническая линия",
"Хлебниково, МЦД-1",
"Ховрино, Замоскворецкая линия",
"Хорошёво, МЦК",
"Хорошёвская, Большая кольцевая линия",
"ЦСКА, Большая кольцевая линия",
"Царицыно, Замоскворецкая линия",
"Царицыно, МЦД-2",
"Цветной бульвар, Серпуховско-Тимирязевская линия",
"Черкизовская, Сокольническая линия",
"Чертановская, Серпуховско-Тимирязевская линия",
"Чеховская, Серпуховско-Тимирязевская линия",
"Чистые пруды, Сокольническая линия",
"Чкаловская, Люблинско-Дмитровская линия",
"Шаболовская, Калужско-Рижская линия",
"Шелепиха, МЦК",
"Шелепиха, Большая кольцевая линия",
"Шереметьевская, МЦД-1",
"Шипиловская, Люблинско-Дмитровская линия",
"Шоссе Энтузиастов, Калининская линия",
"Шоссе Энтузиастов, МЦК",
"Щербинка, МЦД-2",
"Щукинская, Таганско-Краснопресненская линия",
"Щукинская, МЦД-2",
"Щёлковская, Арбатско-Покровская линия",
"Электрозаводская, Арбатско-Покровская линия",
"Электрозаводская, Некрасовская линия",
"Юго-Восточная, Некрасовская линия",
"Юго-Западная, Сокольническая линия",
"Южная, Серпуховско-Тимирязевская линия",
"Ясенево, Калужско-Рижская линия"
        ];
        var searchList = function () {
          var res  = document.getElementById("result");
          s = '';
          for( var i = 0; i < list.length; ++i )
            if( list[i].indexOf(this.value) !== -1 ) {
                res.style.width = document.getElementById("top").width + 'px';
              s += "<div>" + list[i] + "</div>";
            }
          res.innerHTML = document.getElementById("text").value !== '' ? s : '' ;
        }

        document.getElementById("text").addEventListener("input", searchList);
        document.getElementById("result").addEventListener("click", function(e){
            if(e.target.tagName == 'DIV'){
            document.getElementById("text").value = e.target.innerHTML;
            searchList();
          }
        });
    </script>
{% endblock %}