
{% extends 'main_app/base.html' %}


{% block title %}BIO{% endblock %}

{% block content %}


    <!--ПРОФИЛЬ-->
  <div id="fh5co-product" >
{#        <div class="">#}
{#            <h2 style="text-align: center;">Профиль</h2>#}
{#        </div>#}

        <div class="container">
            <div class="row animate-box bio_flex">
                <div class="col-sm-3 bio_img bio_decs">
                    <img src="media/images/avatar1.png">
                </div>
                <div class="col-sm-9  text-left bio_text bio_desc">
                    <h3>{{ request.user.username }}</h3>
                    <p>{{ request.user.email }}</p>
                    <p>{{ request.user.phone }}</p>
                    <a href="{% url 'redaction' %}">Редактировать</a>
                </div>
            </div>
        </div>
  </div>


    <!--ОБЪЯВЫ-->
        {% if request.user.role == 2 %}
            <section class="prj-title" >
                <div class="container">
                    <h2 style="margin-top: 40px;">Объявления:</h2>
                    {% for i in items %}
                        {% if i.user_id == request.user.id %}
                            <section class=""style="box-shadow: 0 0 10px 5px #ebebeb;border-radius: 4px;margin-top: 1em;padding: 14px 0 0px 20px;">
                                <div class="animate-box">
                                    <div class="row section_item_group">
                                        <a href="{% url 'single' i.id %}">
                                            <div class="project-text col-md-2 col-xs-3 xs-3-width" >
                                                <div class="img_single_cont">
                                                    {% for im in image_item %}
                                                        {% if im.item_id == i.id %}
                                                         <a href="{% url 'single' i.id %}"><img class="img_single" src="{{ MEDIA_URL }}{{ im.image.url }}"></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </a>
                                        <a href="{% url 'single' i.id %}">
                                            <div class="project-text col-md-10 col-xs-9 xs-9-width">
                                                <h3 style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;">{{ i.name }}</h3>
                                                <p >{{ i.price }}<span> р.</span></p>
                                                <p >{{ i.category }}</p>
{#                                                <p style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;padding-right: 18px;color: #828282;">{{ i.text }}</p>#}
                                            </div>
                                        </a>
                                    </div>
                                    <div class="btn_delete_item">
                                        <a style="padding:0 2em 15px 0; float: right;" href="{% url 'del_item' i.id %}">Удалить</a>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                </div>
            </section>
        {% endif %}

{% endblock %}



