
{% extends 'main_app/base.html' %}


{% block title %}BIO{% endblock %}

{% block content %}


    <!--ПРОФИЛЬ-->
  <div id="fh5co-product" >
        <div class="">
            <h2 style="text-align: center;">Профиль</h2>
        </div>

        <div class="container">
            <div class="row animate-box bio_flex">
                <div class="col-sm-3 bio_img bio_decs">
                    <img src="media/images/avatar1.png">
                </div>
                <div class="col-sm-9  text-left bio_text bio_desc">

                                <h3>{{ request.user.username }}</h3>
                                <p>{{ request.user.email }}</p>
                                <p>{{ request.user.phone }}</p>

                        <a href="{% url 'redaction' %}">Редактировать</a>

                </div>
{% comment %}                <div>
                    {% for im in images %}
                        {% if im.item_id == i.id %}
                             <div class="img_single_owl_cont" style="background-image:url({{ MEDIA_URL }}{{ i.image.url }});">
                         <img class="img_single_owl" src="{{ MEDIA_URL }}{{ i.image.url }}" alt="{{ i.item_id }}{{ s.id }}">
                       </div>
                        {% endif %}
                    {% endfor %}
                </div>{% endcomment %}
            </div>
        </div>
    </div>


    <!--ОБЪЯВЫ-->
        {% if request.user.role == 2 %}
            <section class="prj-title" >
                <div class="container">
                    <h1 style="margin-top: 40px;">Объявления:</h1>
                    {% for i in items %}
                        {% if i.user_id == request.user.id %}
                            <section class="container"style="box-shadow: 0 0 10px 5px #ebebeb;border-radius: 4px;margin-top: 48px;padding: 14px 0 0px 20px;">
                                <div class="animate-box">
                                    <div class="row">
                                        <div class="project-text col-md-2 col-xs-3 xs-3-width" >
                                            <div class="img_single_cont">
                                                {% for im in image_item %}
                                                    {% if im.item_id == i.id %}
                                                     <img class="img_single" src="{{ MEDIA_URL }}{{ im.image.url }}">
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="project-text col-md-10 col-xs-9 xs-9-width">
                                            <h2 style="margin-top: 11px;margin-bottom: 10px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;">{{ i.name }}</h2>
                                            <p style="margin-bottom: 0;"><b>{{ i.category }}</b></p>
                                            <p style="overflow: hidden;white-space: nowrap;text-overflow:ellipsis;padding-right: 18px;">{{ i.text }}</p>
                                        </div>
                                    </div>
                                    <div style="padding-bottom: 15px">
                                        <a style="margin-right: 15px;" href="{% url 'del_item' i.id %}">Удалить</a>
                                        <a href="{% url 'single' i.id %}">Подробнее</a>
                                    </div>
                                </div>
                            </section>
                        {% endif %}
                    {% endfor %}
                    <section class="end">
                    <div class="button" style="margin: 15px;"><a href="{% url 'add_item' %}" class="button_in">Добавить</a></div>
                    </section>
                </div>
            </section>
        {% endif %}

{% endblock %}



