<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="../static/css/bootstrap.css">
  <!-- <link rel="stylesheet" href="css/normalize.css"> -->
  <link rel="stylesheet" href="../static/css/magnific-popup.css">
  <link rel="stylesheet" href="../static/css/slick.css">
  <link rel="stylesheet" href="../static/css/main.css">
  <meta name="theme-color" content="#fafafa">
</head>

<body>

    <header class="header_main">
      <!-- HEADER -->
      <div class="container"> 
        <div class="header">
          <div class="logo col-md-4">
            <img src="../static/img/logo.png" alt="logo">
          </div>
          <div class="top-nav col-md-5">
            <ul class="nav navbar-nav">
              <li><div class="pole_menu"><a href="index.html" class="menu">Главная</a> </div></li>
              <li><div class="pole_menu"><a href="search.html" class="menu">Поиск</a></div></li>
              <li><div class="pole_menu"><a href="portfolio.html" class="menu">Моё портфолио</a></div></li>
            </ul>
          </div>
          <div class="top-button col-md-3">
            <div class="in"><a href="" class="button_in">Войти</a></div>
            <div class="reg"><a href="registration.html" class="menu">Зарегистрироваться</a></div>
          </div>
        </div>
    <!-- \\HEADER -->
    </header>

    <section class="user-info user-info_guest">
        <div class="container">
          <div class="row">
            <div class="user-info-prf col-md-2">
              <!-- <label>Профиль</label> -->
              <div class="user-avatar ">
                <img src="../static/img/avatar.jpg" alt="Никнейм">
              </div>
            </div>
            <div class="col-md-7 user-info-edit">
              <!-- <a href="redaction.html">Редактировать:</a> -->
              <div class="row user-info-inner">
                <div class="user-info-text col-md-4">
                  <h3>Никнейм</h3>
                  <p>Род деятельности</p>
                  <p>Проекты: 2</p>
                </div>
                <div class="user-info-text col-md-4">
                  <h3>Связь:</h3>
                  <p>mail@gmail.ru</p>
                  <p>facebook.com/id0000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <section class="prj-title">
        <div class="container">
          <div class="row prj-title-h1 col-md-12">
             <h1>Проекты:</h1>
          </div>
        </div>
    </section>

    <section class="project">
      <div class="container">
        <div class="row">
          <div class="project-text col-md-12">
            <h2>Название проекта</h2>
            <p><b>Категория проекта</b></p>
            <p>Описание проекта, для чего, для кого был создан, что из себя представляет, из чего состоит и т.д. Просто блок текста, который будет задаваться пользователем по его усмотрению. Внизу карусель из изображений, в зависимости от их размера размещать по 1-3 изображения на слайд. При нажатии на изображение оно открывается в полном размере.</p>
          </div>
        </div>
        <div class="row">
          <div class="project-slider">
            <a href="../static/img/project-1.jpg" class="project-slider__item">
              <img src="../static/img/project-1.jpg" alt="Название проекта" title="Название проекта">
              <div class="project-slider__content">
                <div class="project-slider__btn"></div>
              </div>
            </a>
            <a href="../static/img/project-2.jpg" class="project-slider__item">
              <img src="../static/img/project-2.jpg" alt="Название проекта" title="Название проекта">
              <div class="project-slider__content">
                <div class="project-slider__btn"></div>
              </div>
            </a>
            <a href="../static/img/project-3.jpg" class="project-slider__item">
              <img src="../static/img/project-3.jpg" alt="Название проекта" title="Название проекта">
              <div class="project-slider__content">
                <div class="project-slider__btn"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="project-text col-md-12">
            <h2>Название проекта</h2>
            <p><b>Категория проекта</b></p>
            <p>Описание проекта, для чего, для кого был создан, что из себя представляет, из чего состоит и т.д. Просто блок текста, который будет задаваться пользователем по его усмотрению. Внизу карусель из изображений, в зависимости от их размера размещать по 1-3 изображения на слайд. При нажатии на изображение оно открывается в полном размере.</p>
          </div>
        </div>
        <div class="row">
          <div class="project-slider">
            <a href="../static/img/project-1.jpg" class="project-slider__item">
              <img src="../static/img/project-1.jpg" alt="Название проекта" title="Название проекта">
              <div class="project-slider__content">
                <div class="project-slider__btn"></div>
              </div>
            </a>
            <a href="../static/img/project-2.jpg" class="project-slider__item">
              <img src="../static/img/project-2.jpg" alt="Название проекта" title="Название проекта">
              <div class="project-slider__content">
                <div class="project-slider__btn"></div>
              </div>
            </a>
            <a href="../static/img/project-3.jpg" class="project-slider__item">
              <img src="../static/img/project-3.jpg" alt="Название проекта" title="Название проекта">
              <div class="project-slider__content">
                <div class="project-slider__btn"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer">
        <div class="container">
 			<div class="bottom-nav">
 				<a href="#" class="menu">Обратная связь</a>
 			</div>
        </div>   	
    </footer>



  <script src="../static/js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="../static/js/vendor/bootstrap.min.js"></script>
  <script src="../static/js/plugins.js"></script>
  <script src="../static/js/vendor/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/vendor/slick.min.js"></script>
  <script src="../static/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
