{% extends 'main_app/base.html' %}

{% block title %}{% endblock %}

{% block content %}

    <div style="height: 100px"></div>
    {% for cat1 in cat_1 %}
        <p style=" margin: 0 0 10px 0">{{ cat1.name }}</p>
        {% for cat2 in cat_2 %}
            {% if cat2.parent_id == cat1.id%}
                <p style="margin: 0 0 5px 20px">{{ cat2.name }}</p>
                {% for cat3 in cat_3 %}
                    {% if cat3.parent_id == cat2.id%}
                    <p style="margin: 0 0 0 50px">{{ cat3.name }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}


{% endblock %}