{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    <!--ПОИСК ТОВАРОВ-->
    <div id="fh5co-product" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row animate-box">
                <section class="col-md-12 text-center fh5co-heading search_section" style="margin-bottom: 1em; padding: 0">
                    <form method="post" enctype="multipart/form-data" id="SearchForm">
                        {% csrf_token %}
                        <div class="search_inline">
                            <div><input type="hidden" name="form_type" value="search_form"></div>
                            <div class="form-group reg-form-group row search_main  ">
                                <input class="" type="search" id="search_text" name="search_text"
                                       placeholder="     Поиск товаров...">
                            </div>
                            <div class="form-group reg-form-group row search_form_cat search_form_cat_top">
                                <label for="search_form" class="">Категория:</label>
                                {{ search_form.category }}
                            </div>
                            <div class=" form-group fh5co-heading btn_search_form btn_search_form_media btn_search_index">
                                <input class="" type="submit" value="Поиск">
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

    <div class="container">
{#        <div class="row">#}
{#            <div class="col-md-12 cat_full">#}
{#                {% if not cat_2 and not cat_3  %}#}
{##}
{#                {% else %}#}
{#                    <p class="bread_text">#}
{#                        <span><a href="{% url 'home' %}">Все категории</a></span>#}
{#                        <span class="sp"> / </span>#}
{#                    {% for cat in cat_1%}#}
{#                        <span>{{ cat.name }}</span>#}
{#                    {% endfor %}#}
{#                    {% for cat in category2%}#}
{#                        <span class="sp"> / </span>#}
{#                        <span>{{ cat.name }}</span>#}
{#                        <span class="sp"> / </span>#}
{#                    {% endfor %}#}
{#                    {% for cat in category%}#}
{#                        <span>{{ cat.name }}</span>#}
{#                    {% endfor %}#}
{#                    </p>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
        <div class="row">
            {% if cat_1  %}
                <div class="col-md-3">
                    <p class="main_cat_text"><a href="{% url 'home' %}">Все категории</a></p>
                    <ul class="cat_tree_first">
                    {% for cat1 in cat_1 %}
                        <li class="li_first_cat"><a href="{% url 'show_second_cat' cat1.id %}">{{ cat1.name }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if cat_2 %}
                <div class="col-md-3">
                    <p class="main_cat_text"><a href="{% url 'home' %}">Все категории</a></p>
                    <p class="main_cat_text"><a href="#">{{ main_cat }}</a></p>
                    <ul class="cat_tree_second">
                    {% if cat_2  %}
                        {% for cat2 in cat_2 %}
                            <li class="sec_li"><a href="{% url 'show_third_cat' cat2.id %}">{{ cat2.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>
            {% endif %}
            {% if cat_3 %}
               <div class="col-md-3">
                <p class="main_cat_text"><a href="{% url 'home' %}">Все категории</a></p>
                {% for m in main_cat1 %}<p class="main_cat_text"><a href="{% url 'show_second_cat' m.id %}">{{ m.name }}</a></p>{% endfor %}
                <p class="main_cat_text"><a href="">{{ main_cat2 }}</a></p>
                   <ul class="cat_tree_second">
                    {% if cat_3  %}
                        {% for cat3 in cat_3 %}
                            <li class="sec_li"><a href="{% url 'chose_cat' cat3.id  %}">{{ cat3.name }}</a></li>
                        {% endfor %}
                    {% endif %}
                   </ul>
               </div>
            {% endif%}
            {% if main_cat1 and main_cat2 and main_cat3 %}
                <div class="col-md-3">
                    <p class="main_cat_text"><a href="{% url 'home' %}">Все категории</a></p>
                    {% for m in main_cat1 %}<p class="main_cat_text"><a href="{% url 'show_second_cat' m.id %}">{{ m.name }}</a></p>{% endfor %}
                    {% for m in main_cat2 %}<p class="main_cat_text"><a href="{% url 'show_third_cat' m.id %}">{{ m.name }}</a></p>{% endfor %}
                    <ul class="cat_tree_second">
                        {% for m in main_cat3 %}<li class="sec_li">{{ m.name }}</li>{% endfor %}
                   </ul>
               </div>
           {% endif %}

            <!--КАРТОЧКИ ТОВАРОВ-->
            <div class="col-md-9">
                <div class="row">
                    {% if not item_all %}
                        <h3>По вашему запросу ничего не найдено</h3>
                    {% else %}
                    {% for i in item_all %}
                    <div class="col-md-4 col-xs-6 text-center animate-box product_card">
                        <div class="product">
                            <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                                {% for im in image_all %}
                                    {% if im.item_id == i.id %}
                                        <div class="item">
                                            <a href="{% url 'single' i.id %}">
                                             <div class="product-grid" style="background-image:url({{ MEDIA_URL }}{{ im.image.url }});"></div>
                                            </a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="desc">
                                <h3><a href='{% url 'single' i.id %}'>{{ i.name }}</a></h3>
                                {% if i.price == '' %}
                                    <h4>  - - -  </h4>
                                {% endif %}
                                <h4>{{ i.price }} руб.</h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
{#            {% if cat_2 and cat_3  %}#}
            </div>
{#            {% endif %}#}
        </div>
    </div>

{% endblock %}