{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}{% endblock %}

{% block content %}

    <!--ПОИСК ТОВАРОВ-->
    <div id="fh5co-product">
        <div class="container">
            <div class="row animate-box">
                <section class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <form method="post" enctype="multipart/form-data" id="SearchForm">
                        <div class="search_inline">
                            <div><input type="hidden" name="form_type" value="search_form"></div>
                            <div class="form-group reg-form-group row search_main  ">
                                <input class="" type="search" id="search_text" name="search_text"
                                       placeholder="     Поиск товаров...">
                            </div>
                            <div class="form-group reg-form-group row search_form_cat ">
                                <label for="search_form" class="">Категория:</label>
                                {{ search_form.category }}
                            </div>
                            <div class=" form-group fh5co-heading btn_search_form ">
                                <input class="" type="submit" value="Поиск">
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>

        <!--КАРТОЧКИ ТОВАРОВ-->
    <div class="container">
        <div class="row">
            {% for i in item_all %}
            <div class="col-md-4 text-center animate-box product_card">

                <div class="product">
                    <div class="owl-carousel owl-carousel-fullwidth product-carousel">
                        {% for im in image_all %}
                            {% if im.item_id == i.id %}
                                <div class="item">
                                    <div class="product-grid"
                                         style="background-image:url({{ MEDIA_URL }}{{ im.image.url }});">

                                        <div class="inner">
                                            <p>
                                                <input class="hidden" value="{{ i.id }}">
                                                <a href='{% url 'add_to_cart' i.id%}' class="icon"><i class="icon-shopping-cart"></i></a>
                                                <a href='{% url 'single' i.id %}' class="icon"><i class="icon-eye"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="desc">
                        <h3><a>{{ i.name }}</a></h3>
                        {% if i.price == '' %}
                            <h4>  - - -  </h4>
                        {% endif %}
                        <h4>{{ i.price }}</h4>
                        <h4>{{ i.status }}</h4>
                    </div>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}