
{% extends 'main_app/base.html' %}


{% block title %}BIO{% endblock %}

{% block content %}


    <!--ПРОФИЛЬ-->
    <div id="fh5co-product">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-3 fh5co-heading text-left">
                    <p><h2>Профиль</h2></p>


                            <h3>{{ request.user.username }}</h3>
                            <p>{{ request.user.work }}</p>
                            <p>{{ request.user.email }}</p>
                            <p>{{ request.user.phone }}</p>




                    <a href="redaction.html">Редактировать</a>

                </div>

            </div>
        </div>
    </div>



<!--ОБЪЯВЫ-->
<section class="prj-title">
    <div class="container">
        <div class="row prj-title-h1 col-md-12 animate-box">
            <h1>Объявления:</h1>
            {% for i in items %}
                {% if i.user_id == request.user.id %}
                    <section class="container">
                        <div class="animate-box">
                            <div class="row">
                                <div class="project-text col-md-12">
                                    <h2>{{ i.name }}</h2>
                                    <p><b>{{ i.category }}</b></p>
                                    <p>{{ i.text }}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="end">
                {% endif %}
            {% endfor %}

            <div class="button"><a href="{% url 'add_item' %}" class="button_in">Добавить</a></div>
        </div>
    </div>
</section>




{% endblock %}




