
{% extends 'main_app/base.html' %}


{% block title %}BIO{% endblock %}

{% block content %}


<section  id="fh5co-product" class="registration">
    <div class="container">
        <div class="row">
            <div class="reg-title-h1 col-md-12">
                <h1>Редактирование профиля</h1>
            </div>
            <div class="row user-info-inner text-left reg_form_cont">
                <form method="post" action="{% url 'redaction' %}" enctype="multipart/form-data"  class="form-horizontal col-md-8 reg-form">
                {% csrf_token %}
                    <fieldset>
                        <div class="form-group reg-form-group row">
                            <label for="email" class="col-sm-5">Адрес эл.почты:*</label>
                            <input class="col-sm-7" type="text" id="email" name="email" value="{{ user.email }}">
                        </div>
                        <div class="form-group reg-form-group row">
                            <label for="name" class="col-sm-5">Имя:</label>
                            <input class="col-sm-7" type="text" id="name" name="name" value="{{ user.name }}">
                        </div>
                        <div class="form-group reg-form-group row">
                            <label for="surname" class="col-sm-5">Фамилия:</label>
                            <input class="col-sm-7" type="text" id="surname" name="surname" value="{{ user.last_name }}">
                        </div>
                        <div class="form-group reg-form-group row">
                            <label for="city" class="col-sm-5">Город:</label>
                            <input class="col-sm-7" type="text" id="city" name="city" value="{{ user.city }}">
                        </div>
                        <div class="form-group reg-form-group row">
                            <label for="work" class="col-sm-5">Телефон:</label>
                            <input class="col-sm-7" type="text" id="phone" name="phone"   value="{{ user.phone }}">
                        </div>
                    </fieldset>
                    <input class="button" type="submit" value="Сохранить">
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}